@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --colorHeader:#000;
    --colorFooter:#7a1b1b;
    --fuente:'Roboto', sans-serif;
    --enlaces:#fff;
    --enlaceSobre:#641dc2;
}